.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.title {
    font-size: 2rem;
    color: #333;
    /* Adjust the color to match your theme */
    margin-bottom: 50px;
}

.message {
    font-size: 1.2rem;
    color: #555;
    /* Adjust the color to match your theme */
}

.productList {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 40px;
}