.icon{
    padding: 0px 15px;
    background-color:#6656a4;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    color: white;
}
.icon i{
    padding: 0px 10px;
}
.icon p{
    padding: 0;
}
.icon:hover{
    background-color: #453a70;
}